<h1>Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" name="_method" value="patch" id="hidden">

  <label> Song Name </label>
  <input type="text" name="song[name]" value="<%= @song.name %>" id="name">
  <br>

  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist[name]" value="<%= @song.artist.name %>" id ="Artist Name">
<br>

<label> Edit the Song Genres: </label>
  <% Genre.all.each do |genre| %>
  <label><%= genre.name %> </label>
  <input type="checkbox" name="song[genre][]" id="<%egenre.name%>" value="<%genre.name %>" <=% 'checked' if @song.genres.include?(genre) %>><br>
<% end %>

<input type="submit" value="Save">
</form>
